<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <remove name="LocalSqlServer" />
  </connectionStrings>
  <appSettings>
    <add key="urllink" value="https://testcm08.bucees.local" />
    <add key="smtphost" value="mailbox.bucees.local" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" defaultLanguage="c#" />
	  <pages enableViewState="false" />
    <httpCookies httpOnlyCookies="true"/>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="api/*"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
      <httpErrors existingResponse="PassThrough" />
      <modules runAllManagedModulesForAllRequests="true"/>
      <validation validateIntegratedModeConfiguration="false"/>
      <handlers>
        <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="api/*"/>
      </handlers>
      <applicationInitialization doAppInitAfterRestart="true" skipManagedModules="true" remapManagedRequestsTo="api/config">
        <add initializationPage="/api/config" />
      </applicationInitialization>
      <httpProtocol>
        <customHeaders>
            <add name="X-UA-Compatible" value="IE=edge" />
            <add name="Access-Control-Allow-Origin" value="https://atv-webwiki001.bucees.local:8443" />
            <add name="Access-Control-Allow-Headers" value="Accept, Origin, Content-type, Authorization" />
            <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, DELETE, PUT" />
            <add name="Access-Control-Allow-Credentials" value="true" />
        </customHeaders>
      </httpProtocol>
      <staticContent>
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      </staticContent>
  </system.webServer> 
</configuration>