<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
    <!-- BEGIN FORM-->
            <form id="addsettingsform" class="horizontal-form">
                @Html.Partial("views/settingspartial",Model)
            </form>
    <!-- END FORM-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->         
</div>